modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "tornado-server"

[[workflows.workflow]]
name = "tornado-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python init_db.py && python app.py --port=5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33853
externalPort = 3002

[[ports]]
localPort = 36719
externalPort = 3000

[[ports]]
localPort = 39299
externalPort = 5000

[[ports]]
localPort = 40271
externalPort = 3001

[[ports]]
localPort = 43799
externalPort = 3003

[[ports]]
localPort = 45455
externalPort = 4200

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["python", "app.py", "--port=5000"]

[userenv]

[userenv.shared]
WX_MINIPROGRAM_APP_ID = "wx4be72cc6e4cc1e59"
WX_MINIPROGRAM_APP_SECRET = "28d71914d9525c2403807a870e13b2f2"
